body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.topbar-container {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  box-shadow: 0px 0px 4px 2px rgb(236, 235, 235);
  box-sizing: border-box;
  z-index: 9;
}
.indices-conatiner {
  flex-basis: 32%;
  height: 100%;
  padding: 10px 20px;
  border-right: 1px solid rgb(236, 235, 235);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nifty {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: -2;
}
.sensex {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nifty > *,
.sensex > * {
  margin-right: 8px;
}
.index {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(97, 97, 97);
  white-space: nowrap;
}
.index-point {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(223, 73, 73);
}
.Menu-container {
  flex-basis: 68%;
  height: 100%;
  padding: 10px 20px;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Menu-container img {
  width: 30px;
  height: 20px;
}
.menus {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menus ul {
  list-style-type: none;
}
.menus li {
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
}
.menu {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(70, 70, 70);
}

.menu.selected {
  color: rgb(245, 104, 52);
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
}
.Menu-container hr {
  border-left: 0.8 solid rgb(243, 242, 242);
  height: 30px;
}
.profile .avtar {
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(221, 139, 221);
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  display: flex;
  background-color: rgb(252, 229, 252);
  margin-right: 8px;
}
.profile .username {
  font-size: 0.8rem;
  font-weight: 300;
}
.dashboard-container {
  width: 100%;
  height: 90vh;
  display: flex;
  box-sizing: border-box;
}
.Watchlist {
  flex-basis: 32%;
  height: 100%;
  box-sizing: border-box;

  box-shadow: 0px 0px 4px 1px rgb(236, 235, 235);
  overflow-y: auto;
  position: relative;
}
.content {
  flex-basis: 68%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 3% 2%;
}
/* Watchlist */
.Search-conatiner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.search {
  width: 100%;
  border: none;
  height: 6%;
  padding: 15px 20px;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(241, 241, 241);
  border-bottom: 0.8px solid rgb(235, 234, 234);
}
.counts {
  position: absolute;
  right: 20px;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(177, 177, 177);
}
/* summary */
.username h6 {
  color: rgb(83, 83, 83);
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.divider {
  border: none;
  background: #d1d1d1;
  height: 1px;
  margin: 20px 0;
  margin-bottom: 5%;
}
.section {
  padding-bottom: 2%;
}
.section span {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.section span p {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
}

.data {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.data .first h3 {
  font-size: 2.3rem;
  font-weight: 300;
  color: rgb(71, 71, 71);
}
.data .first p {
  font-size: 0.8rem;
  color: rgb(136, 136, 136);

  position: relative;
}
.data hr {
  border-left: 0.6px solid rgb(243, 242, 242);
  height: 70px;
}
.data .second p {
  font-size: 0.8rem;
  color: rgb(136, 136, 136);

  margin-bottom: 10px;
  white-space: nowrap;
}
.data .second p span {
  display: inline;
  margin-left: 5%;
  font-size: 0.9rem;
  color: rgb(100, 100, 100);
}
.data .first small {
  font-size: 0.8rem;
  color: rgb(72, 194, 55);
}

.profit {
  color: rgb(72, 194, 55);
}
/* oders */
.orders {
  width: 100%;
  height: 90vh;
}
.no-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-orders p {
  margin-top: 6%;
  color: rgb(173, 173, 173);
  font-size: 1rem;
  font-weight: 300;
}
.btn {
  text-decoration: none;
  background: rgb(77, 77, 248);
  padding: 10px 20px;
  border-radius: 2px;
  color: #fff;
  margin-top: 2%;
  border: none;
}
.btn:hover {
  background: rgb(110, 110, 253);
}
/* holdings */
.title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 300;
  color: #555555;
  margin-bottom: 2%;
}
.table-order table {
  width: 100%;
  border-collapse: collapse;
}
.table-order tr {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.table-order tr th {
  text-align: right;
  padding: 15px 10px;
  color: rgb(145, 145, 145);
  font-weight: 300;
  font-size: 0.8rem;
}
.table-order tr td {
  text-align: right;
  padding: 10px 10px;
  font-size: 0.9rem;
}
.table-order tr th:first-child,
.table-order tr td:first-child {
  text-align: left;
}
.table-order tr th:nth-child(1),
.table-order tr th:nth-child(4) {
  border-right: 1px solid #f1f1f1;
}

.loss {
  color: rgb(240, 66, 66);
}
.table-order tr td:nth-child(7) {
  font-size: 0.5rem;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.col {
  flex-basis: 33%;
}

.col h2 {
  font-size: 1.8rem;
  color: rgb(71, 71, 71);
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.col h2 span {
  font-weight: 300;
  font-size: 0.9rem;
}

.col p {
  font-size: 0.8rem;
  color: rgb(153, 153, 153);
  font-weight: 300;
  margin-top: 2%;
}

.row .col:last-child h2 {
  color: rgb(72, 194, 55);
}
.funds {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.funds p {
  margin: 0;
  line-height: 1.5;
}

.down {
  color: rgb(223, 73, 73);
  margin: 0 3% 0;
}
.up {
  color: rgb(103, 201, 136);
}
.watchlist-li {
  border-bottom: 0.8px solid rgb(235, 234, 234);
  width: 100%;
}

.list {
  margin: 0;
  padding: 0;
}
.list li {
  position: relative;
}
.item {
  display: flex;
  justify-content: space-between;
  padding: 0 5% 0;
  font-size: 0.8rem;
}

.watchlist-li:hover {
  background-color: #f1eeeee3;
  cursor: move;
}

.percent {
  font-size: 0.8rem;
  color: rgb(153, 153, 153);
  font-weight: 300;
  display: flex;
}

.buy {
  background-color: blue;
  padding: 5px;
}
.actions {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: auto;
  width: 100%;
  align-items: end;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
}
.actions span {
  margin: 2%;
}
.funds {
  width: 100%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.funds p {
  font-size: 0.8rem;
  color: rgb(179, 179, 179);
  margin-right: 8px;
}
.table {
  width: 30%;
  border: 1px solid #ddd;
  padding: 5%;
}

.table .data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.table .data > * {
  margin-bottom: 5%;
}

.table .data p {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: rgb(151, 151, 151);
}
.imp {
  margin-left: 1.5rem;
}

.funds-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.funds-inner .open-account {
  display: flex;

  align-items: center;
}
.buy {
  background-color: #4184f3;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  border: 0.7px solid #4184f3;
}

.sell {
  background-color: #ff5722;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  border: 0.7px solid #ff5722;
}

.action {
  background-color: #fff;
  border: 0.7px solid #9b9b9b;
}

.icon {
  transform: scale(0.7);
  color: rgb(65, 65, 65);
}
.btn-watchlist {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.btn-watchlist {
  width: 60px;
  height: 35px;
  border-radius: 10px;
}
.btn-watchlist:hover {
  opacity: 0.7;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  margin-top: 50px;
  background-color: #f9f9f9;
  min-width: 8%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content button {
  border: none;
  width: 100%;
  text-align: start;
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}



.dropdown-content button:hover {
  background-color: #d6d6d6;
}

.dropdown:hover .dropdown-content {
  display: block;
}
